@font-face {
    font-family: "pixel";
    src: local("pixel"),
        url("styles/fonts/upheavtt.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "pixel";
    src: local("pixel"),
        url("styles/fonts/upheavtt.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "pixel";
    src: local("pixel"),
        url("styles/fonts/upheavtt.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "pixel";
    src: local("pixel"),
        url("styles/fonts/upheavtt.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "pixel";
    src: local("pixel"),
        url("styles/fonts/upheavtt.ttf") format("truetype");
    font-weight: 300;
}
